*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
} */

/*
=================
products section
=================
*/

.products {
    background-color: #7e7b7b;
    border: 1px solid red;
}

.p-slider {
    position: relative;
}

.p-slider .p-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    border: 1px dashed white;
}

.Products .p-title {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem auto;
    position: relative;
    text-align: center;
    animation-name: cardAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.Products .p-text {
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 7rem auto;
    position: relative;
    animation-name: cardAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.p-slider .p-wrapper .p-box {
    background: linear-gradient(315deg, #5c5a5a, #a34747);
    display: inline-block;
    margin: 0 3rem;
    width: 10%;
    height: 350px;
    animation-name: cardAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    ttransition: transform 5.5s ease-in-out, filter 8.5s ease-in-out;
}

.p-slider .p-wrapper .p-box.blur {
    filter: blur(3px); /* Add blur for side cards */
}

.p-slider .p-wrapper .p-box.center {
    transform: scale(1.2); /* Increase size for center card */
    filter: blur(0); /* Remove blur for center card */
}

@keyframes cardAnimation {
    0% {
        opacity: 10;
        transform: translateX(200px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 3;
        transform: translateX(0);
    }
}
