*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
} */

/*
=================
products section
=================
*/

.products {
    background-color: #7e7b7b;
    border: 1px solid red;
}

.p-slider {
    height: 123.3vh;
    position: relative;
    border: 1px solid red;
}

.p-slider .p-wrapper {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin: 45px auto;
    border: 1px dashed green;
}

.products .p-title {
    height: 8px;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem auto;
    position: relative;
    text-align: center;
}

.products .p-text {
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
}

.products .next{
    position: absolute;
    border: 1px solid red;
}

.p-slider .p-wrapper .p-box {
    background: linear-gradient(315deg, #ececec, #dfdddd);
    display: inline-block;
    margin: 3.9rem 2rem;
    width: 10%;
    height: 70vh;
    border-radius: 12px;
    animation-name: cardAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transition: transform 1.5s ease-in-out, filter 1.4s ease-in-out;
    position: relative;
    box-shadow: 0px 3px 10px 0.5px rgb(179, 179, 179);
}

.p-slider .p-wrapper .p-box img{
    width: 100%;
    height: 60%;
    border-radius: 8px 8px 3.8px 3.8px;
}

.p-box .p-names{
    position: relative;
}

.p-box .p-heading{
    height: 10px;
    color: rgb(53, 53, 53);
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.1px;
    padding: 0;
    margin-top: 0.9rem;
}

.p-box .p-names .p1{
    color: rgb(122, 122, 122);
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
    height: 8px;
    margin-top: 25px;
    
}

.p-box .p-names .p2{
    color: rgb(122, 122, 122);
    height: 0.1px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
    height: 8px;
}

.p-box .p-names .p3{
    color: rgb(122, 122, 122);
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
}

.p-box .p-btn{
    color: #0eaad1;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    top: 24.9rem;
    left: 9.1rem;
    position: absolute;
}

.p-box .p-btn:hover{
    color: #0f6fbe;
}

.p-slider .p-wrapper .p-box.blur {
    filter: blur(2.7px); /* Add blur for side cards */
}

.p-slider .p-wrapper .p-box.center {
    transform: scale(1.2); /* Increase size for center card */
    filter: blur(0); /* Remove blur for center card */
}

@keyframes cardAnimation {
    0% {
        opacity: 10;
        transform: translateX(200px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 3;
        transform: translateX(0);
    }
}
