*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

/*
===============
header section
===============
*/

header{
    background: linear-gradient(315deg, #5ec7bb, #2196f3 );
    height: 70px;
    padding: 0.1px;
    margin: 0;
    font-family: 'Sometype Mono', monospace;
    font-size: 1.1rem;
    font-weight: bolder;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
    cursor: pointer;
    margin-top: 7px;
}

header .logo-text{
    margin: 9px;
    padding: 3px 20px 0px 0px;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
}

header .logo-text span{
    color: black;
    padding: 3px 3px 3px 5px;
    background-color: white;
    border-radius: 15px 0px;
}

header ul{
    float: right;
    margin: 0px 30px 0px 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
}

header ul li a{
    color: #fff;
    display: block;
    margin: 2px;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background-color: transparent;
    transition: 0.6s;
    margin-top: 5px;
    padding: 15px;
    height: 45px;
    border-radius: 23px;
    box-shadow: 0px 4px 8px 2px rgb(62, 65, 65);
}

.navbar{
    margin-top: 5px;
}

.ext-header{
    background: #f9fcfd;
    height: 100vh;
    width: 100%;
    border-radius: 340px 0 0 0;
    position: relative;
}


.main-container{
    background: linear-gradient(90deg,#2297f1, #56c0c2 );
    z-index: 0;
    
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns items with space between them */
    width: 80%; /* Adjust the width of the row as needed */
    max-width: 100vw; /* Set maximum width to 100% of viewport width */
    padding-top: 5%;
    
}

.container-main-text{
    margin: 40px;
}

.container-main-text {
    text-align: center;
    position: relative;
    background: url('../assets/image/circle2.png') left/contain no-repeat; /* Use contain instead of cover */
    padding: 20px;
    padding-top: 10px;
    color: #fff;
}


.container-main-text h1 {
    font-family: 'Roboto', sans-serif; /* Use Google Font 'Poppins' */
    font-size: 2.5em;
    margin: 10px 0;
    font-weight: 600;
    background: rgb(85, 85, 85); /* Gradient from left to right */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.highlight-text {
    background: linear-gradient(to right, #fa8c25, #52739e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



.responsive-image {
    object-fit: cover;
    height: 30%;
    width: 30%;
    border-radius: 30px; /* Set border-radius to match the container */
    z-index: 3;
}

/*
==============
About section
==============
*/
.about{
    background-color: rgb(244, 245, 245);
    height: 120vh;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.about .a-title{
    font-size: 2.9rem;
    font-weight: bold;
    top: 3rem;
    left: 37.2rem;
    position: absolute;
}

.about .a-img{
    width: 44%;
    height: 80vh;
    top: 11.7rem;
    left: 6rem;
    position: absolute;
}

.about .a-img img{
    width: 100%;
    height: 80vh;
}

.about .a-text{
    color: rgb(145, 139, 139);
    width: 440px;
    height: 80vh;
    font-size: 1em;
    font-weight: 150;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.9rem;
    top: 11.7rem;
    left: 49rem;
    position: absolute;
}

.about .a-text .at-heading{
    color: #000;
    font-size: 1.7rem;
    margin-left: 2px;
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

.about .a-text ul{
    line-height: 3rem;
    list-style: none;
    position: relative;
}

.about .a-text ul li{
    margin-left: 0.9rem;
}

.about .a-text ul .al-img1{
    height: 2.4vh;
    width: 20px;
    left: 25px;
    top: 16px;
    position: absolute;
}

.about .a-text ul .al-img2{
    height: 2.4vh;
    width: 20px;
    left: 25px;
    top: 4rem;
    position: absolute;
}

.about .a-text ul .al-img3{
    height: 2.4vh;
    width: 20px;
    left: 25px;
    top: 7rem;
    position: absolute;
}

.about .a-text .at-btn{
    background-color: #2196f3;
    color: #fff;
    padding: 6px;
    width: 7.3rem;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    left: 3rem;
    top: 26rem;
    position: absolute;
}

.about .a-text .at-btn:hover{
    margin: -5px 0 0 0;
    transition: 0.4s;
    box-shadow: 0px 3px 10px 0.5px rgb(114, 200, 243);
}

/*
=================
products section
=================
*/

.products{
    background-color: #7e7b7b;
    border: 1px solid red;
}

.p-slider .p-wrapper{
    width: 84%;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    border: 1px dashed white;
}

.Products .p-title{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem 0 0 35rem;
    position: absolute;
}

.Products .p-text{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 35rem;
    margin: 7rem 0 0 25.5rem;
    position: absolute;
}

.p-slider .p-wrapper .p-box{
    background: linear-gradient(315deg, #ffffff, #dad8d8 );
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 350px;
}

/*
=============
team section
=============
*/

.our-team{
    height: 100vh;
    position: relative;
    border: 1px solid red;
}

.our-team .ot-title{
    width: 100%;
    font-size: 2.7em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 690;
    text-align: center;
    top: 4rem;
    position: absolute;
}

.our-team .ot-text{
    width: 100%;
    color: #047747;
    font-size: 1.3em;
    font-weight: 590;
    font-family: 'Roboto Condensed', sans-serif;
    text-align:center ;
    top: 3.5rem;
    position: absolute;
}

.our-team .ot-box{
    background-color: #273150;
    color: #fff;
    width: 20%;
    height: 65vh;
    position: relative;
}

.our-team .ot-box img{
    width: 90%;
    top: 11.5px;
    left: 11.5px;
    position: absolute;
}

.our-team .ot-box .otb-names{
    top: 16rem;
    left: 2.5rem;
    position: absolute;
}

.our-team .ot-box .otb-names p{
    color: #bbb7b7;
    text-align: center;
}

.our-team .ot-box1{
    top: 13rem;
    left: 1rem;
    position: absolute;
}

.our-team .ot-box2{
    position: absolute;
}

.our-team .ot-box3{
    position: absolute;
}

.our-team .ot-box4{
    position: absolute;
}

/*
================
contact section
================
*/

.contact{
    background-image: url(/image/contactBG.jpeg);
    height: 148vh;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1350px;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

.contact .c-title{
    font-size: 2.9rem;
    font-family: 'Roboto Condensed', sans-serif;
    top: 2.7rem;
    left: 35rem;
    position: absolute;
}

.contact .c-form{
    background-color: #fff;
    color: #000;
    height: 110vh;
    width: 46%;
    top: 9.4rem;
    left: 22.1rem;
    border-radius: 5px;
    position: absolute;
    position: relative;
}

.contact .c-form .cf-title{
    font-size: 1.4rem;
    font-weight: 550;
    font-family: 'Inter', sans-serif;
    text-align: left;
    top: 2.7rem;
    left: 2.3rem;
    position: relative;
}

.contact .c-form .fname{
    color: #646464;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    top: 7.6rem;
    left: 2.3rem;
    position: absolute;
}

.contact .c-form .fname #fname{
    padding: 10px;
    width: 255px;
    font-size: 1rem;
    top: 2rem;
    left: 0;
    position: absolute;
    border:1px solid rgb(216, 213, 213);
}

.contact .c-form .fname #fname:focus{
    border: 1.5px solid #0487f1;
    outline: none;
    transition: 0.5s;
}

.contact .c-form .lname{
    color: #646464;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    top: 7.6rem;
    left: 20rem;
    position: absolute;
}

.contact .c-form .lname #lname{
    padding: 10px;
    width: 260px;
    font-size: 1rem;
    top: 2rem;
    left: 0;
    position: absolute;
    border:1px solid rgb(216, 213, 213);
}

.contact .c-form .lname #lname:focus{
    border: 1.5px solid #0487f1;
    outline: none;
    transition: 0.5s;
}

.contact .c-form .email{
    color: #646464;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    top: 13.7rem;
    left: 2.3rem;
    position: absolute;
}

.contact .c-form .email #email{
    padding: 9.5px;
    width: 541px;
    font-size: 1rem;
    top: 2rem;
    left: 0;
    position: absolute;
    border:1px solid rgb(216, 213, 213);
}

.contact .c-form .email #email:focus{
    border: 1.5px solid #0487f1;
    outline: none;
    transition: 0.5s;
}

.contact .c-form .subject{
    color: #646464;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    top: 19.7rem;
    left: 2.3rem;
    position: absolute;
}

.contact .c-form .subject #subject{
    padding: 9.5px;
    width: 541px;
    font-size: 1rem;
    top: 2rem;
    left: 0;
    position: absolute;
    border:1px solid rgb(216, 213, 213);
}

.contact .c-form .subject #subject:focus{
    border: 1.5px solid #0487f1;
    outline: none;
    transition: 0.5s;
}

.contact .c-form .message{
    color: #646464;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    top: 25.7rem;
    left: 2.3rem;
    position: absolute;
}

.contact .c-form .message #message{
    padding: 9.5px;
    width: 541px;
    font-size: 1rem;
    top: 2rem;
    left: 0;
    position: absolute;
    border:1px solid rgb(216, 213, 213);
}

.contact .c-form .message #message:focus{
    border: 1.5px solid #0487f1;
    outline: none;
    transition: 0.5s;
}

.contact .c-form .cm-btn{
    background-color: #2196f3;
    color: #fff;
    padding: 9px;
    width: 160px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    left: 2.4rem;
    top: 39rem;
    position: absolute;
}

.contact .c-form .cm-btn:hover{
    margin: -5px 0 0 0;
    transition: 0.4s;
    box-shadow: 0px 3px 10px 0.5px rgb(114, 200, 243);
}

/*
===============
footer section
===============
*/

footer{
    background-color: #fff;
    height: 11rem;
    position: relative;
}

 footer #facebook{
    color: rgb(48, 145, 194);
    font-size: 1.1rem;
    top: 2.5rem;
    left: 33.1rem;
    position: absolute;
}

footer #github{
    color: rgb(48, 145, 194);
    font-size: 1.1rem;
    top: 2.5rem;
    left: 34.8rem;
    position: absolute;
}

footer #instagram{
    color: rgb(48, 145, 194);
    font-size: 1.2rem;
    top: 2.5rem;
    left: 37rem;
    position: absolute;
}

footer #twitter{
    color: rgb(48, 145, 194);
    font-size: 1.2rem;
    top: 2.5rem;
    left: 39.2rem;
    position: absolute;
}

footer #linkdin{
    color: rgb(48, 145, 194);
    font-size: 1.2rem;
    top: 2.5rem;
    left: 41.8rem;
    position: absolute;
}

footer #tiktok{
    color: rgb(48, 145, 194);
    font-size: 1.2rem;
    top: 2.5rem;
    left: 44.3rem;
    position: absolute;
}

footer #youtube{
    color: rgb(48, 145, 194);
    font-size: 1.2rem;
    top: 2.5rem;
    left: 46.7rem;
    position: absolute;
}

footer .f-text{
    color: #979797;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    top: 6rem;
    left: 23.7rem;
    position: absolute;
}

footer .f-text span{
    font-size: 1.1rem;
    color:  rgb(48, 145, 194);
}